body {
    background: #f1f1f1;
}

:root{
    --dark:hwb(0 25% 75%);
    --light-dark:#646b74;
    --principal:#0078F7;
    --shadow:#646b7428;
    --secondary:#E52030;
}
.barra {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.dropdown-menu {
    margin: 17px;
    background: white;
    color: var(--principal);
    border-radius: 25px;
}


.menuperfil {
    color: var(--principal);
}

.color:hover{
    color: #E52030;
}

.menuperfil:focus {
    background: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    color: var(--secondary);
}

.cerrar:hover {
    background-color: var(--secondary);
    color:white;
    border-radius: 25px;
}

.user {
    font-size: 35px;
}


/*BARRA LATERAL*/

.barra-lateral {
    background: #fff;
    color: var(--principal);
    min-width: 250px;
    min-height: 83vh;
    padding: 0;
    font-weight: bolder;
}

.barra-lateral a {
    color: var(--principal);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.barra-lateral .menu a:hover {
    background-color: var(--secondary);
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.active {
    background: var(--principal);
}

.barra-lateral .menu {
    border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}


/*MAIN*/

.main {
    padding-top: 40px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}


/*mediaquerys*/

@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    .dropdown-menu {
        margin: 20px -79px 0px;
    }
}

@media screen and (max-width:575px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
    body {
        background: #D3D3D3;
        font-size: 16px;
        overflow: visible;
    }
}

.formulariorecursos {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 20px;
}

.menu {
    border-top: 5px #fff solid;
}

@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78 0px;
    }
    body {
        font-size: 16px;
        overflow: visible;
    }
}