<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>PQRS - EPS Gran Colombia</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/darkmode.css')}}">
        <link href="{{url_for('static', filename='css/aos.css')}}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}" />
    </head>
<body class="background-body">

    <div class="container py-5 my-5" data-aos="fade-left"
    data-aos-anchor="#example-anchor"
    data-aos-offset="500"
    data-aos-duration="500">
        <div class="container row row-cols-2 shadow-lg rounded-25 margin">
            <div class="col">
                <img class="img-header" src="{{url_for('static', filename='img/pqrs.svg')}}" >
            </div>
            
            <!--FORM-->
            <div class="col">
                <form   action="{{url_for('PQRS_SUCCESS')}}" method="post" class="needs-validation" novalidate>

                  <div class="container-fluid row row-cols-1">
                    <div class="col">
                        <a href="{{url_for('principal_page')}}"><img src="{{url_for('static', filename='img/logo dark.png')}}" height="100%" width="100%"></a>
                    </div>
                </div>
                    <div class="text-center"><label class="h1 text-bold text-primary">PQRS</label></div>
                    <div class="d-flex">
                      <label class="h3 text-bold text-primary my-2 ">Datos del solicitante</label>
                  </div>
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Tipo de documento</label>
                                <select class="form-select"  required name="tdoc">
                                  <option  selected disabled value="">Selecciona</option>
                                  <option value="CEDULA_CC">Cedula de ciudadania</option>
                                  <option value="TARJETA_TI">Tarjeta de identidad</option>
                                  <option value="CEDULA_CE">Cedula de extranjeria</option>
                                </select>
                                <div class="invalid-feedback" >Selecciona un tipo de documento</div> 
                              </div>
                              
        
                              

                              <div class="mb-3">
                                <label for="name" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="name" placeholder=""  data-sb-validations="required" required name="name">
                                <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es requerido</div>
                              </div>

                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com"  data-sb-validations="required" required name="email">
                                <div class="invalid-feedback" data-sb-feedback="email:required">EL correo es necesario</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">El correo que has ingresado es invalido</div>
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Numero de documento</label>
                                <input type="number" class="form-control" id="phone" placeholder=""  data-sb-validations="required" required name="doc">
                                <div class="invalid-feedback" data-sb-feedback="phone:required">El numero de documento es necesario</div>
                              </div>

                              <div class="mb-3">
                                <label for="name" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="name" placeholder="" data-sb-validations="required" required name="lname">
                                <div class="invalid-feedback" data-sb-feedback="name:required">Tu apellido es necesario</div>
                              </div>
                              <div class="mb-3">
                                <label for="email2" class="form-label">Repetir correo electronico</label>
                                <input type="email" class="form-control" id="email2" placeholder="name@example.com"  data-sb-validations="required" required>
                
                                <div class="invalid-feedback" data-sb-feedback="email2:email2">El correo que has ingresado no coincide</div>
                              </div>    
                        </div>
                    </div>

                    <div class="d-flex">
                      <label class="h3 text-bold text-primary my-2 ">Descripcion de los hechos</label>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">A continuación, escriba una breve descripción de los hechos</label>
                    <textarea  class="form-control" id="textarea" placeholder=""  data-sb-validations="required" required name="PQRS"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="textarea:required">La descripcion es necesaria</div>
                  </div> 

                    <div class="col-sm text-center mx-3">
                        <button type="submit" class="btn btn-primary my-4 rounded-25 text-bold" id="ENVIAR">ENVIAR PRQ</button>
                        <a class="btn btn-primary rounded-25 text-bold" href="{{url_for('principal_page')}}">VOLVER</a>
                    </div>
                   
                    <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">Se ha enviado la peticion </div>
                          <br />
                      
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='PQRS.js')}}"></script>
    <script src="{{url_for('static', filename='swalerts.js')}}"></script>
    <script src="{{url_for('static', filename='aos.js')}}"></script>
        <script>
            AOS.init();
          </script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>